@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #F5F5F5;
}

@keyframes moveUpDown {
    0%, 100% {
      bottom: 0%;
    }
    50% {
      bottom: 5%;
    }
  }
  
  .bubble-animation {
    @apply relative bottom-9 left-1/4 overflow-hidden  transform -translate-x-1/2;
    animation: moveUpDown 4s infinite ease-in-out;
  }

  /* Container for handling hover states */
  .dropdown-container {
    position: relative;
    display: flex;
  }

  .dropdown-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 60px; /* Adjust to the desired offset */
    left: 0;
    z-index: 10;
    transition: opacity 0.5s ease, visibility 0.5s ease; 
    /* Short transition for fade effect */
  }

  /* Show the dropdown on hover */
  .dropdown-container:hover .dropdown-menu,
  .dropdown-menu:hover {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s; /* Instant show */
  }

  /* Keep the dropdown visible for 2 seconds after mouse leaves */
  /* .dropdown-container:hover .dropdown-menu { */
    /* transition-delay: 3s;  */
    /* Delay hiding */
  /* } */

  .logos{
    /* position: relative; */
    z-index: 1;
  }

  .logo-container{
    /* animation-name: classwork; */
    /* animation-duration: 5s; */
    /* animation-iteration-count: infinite; */
    position: absolute;
    animation: logos 30s linear infinite;
    overflow: hidden;
  }
  .card{
    transition: transform 0.5s;
    position: relative;
    overflow: hidden;
  }

  .card:hover{
    transform: translateY(-15px);
  }


  @keyframes logos {
    0% {
      left: 100%;
    }

    100% {
      left: -150%;
    }
  }
.arrow-container{
  /* display:none; */
}
.arrow{
  transform: rotate(-30deg);
}

 .card:hover .arrow-container{
  background-color: orangered;
  border-radius: 50%;
  /* padding: 30px; */
 }
 .card:hover .title{
  color: orangered;
 }
 .slant-container{
  /* background-color: palevioletred; */
 }
 .slant-text{
  position: absolute;
  transform: rotate(35deg);
  display: inline-block;
  right: -30px;
  top: 10px;
  font-size: 10px;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
 }