@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #F5F5F5;
}

@keyframes moveUpDown {
    0%, 100% {
      bottom: 0%;
    }
    50% {
      bottom: 5%;
    }
  }
  
  .bubble-animation {
    @apply relative bottom-1 ;
    animation: moveUpDown 4s infinite ease-in-out;
  }

  /* Container for handling hover states */
  .dropdown-container {
    position: relative;
    display: flex;
  }

  .dropdown-container1 {
    position: relative;
    display: flex;
  }
  .dropdown-menu1{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 35px; /* Adjust to the desired offset */
    left: 0;
    z-index: 10;
    transition: opacity 0.5s ease, visibility 0.5s ease; 
  }

  .dropdown-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 60px; /* Adjust to the desired offset */
    left: 0;
    z-index: 10;
    transition: opacity 0.5s ease, visibility 0.5s ease; 
    /* Short transition for fade effect */
  }




  /* Show the dropdown on hover */
  .dropdown-container:hover .dropdown-menu,
  .dropdown-container:hover .dropdown-menu1,
  .dropdown-menu:hover, .dropdown-menu1:hover {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s; /* Instant show */
  }

  /* Keep the dropdown visible for 2 seconds after mouse leaves */
  /* .dropdown-container:hover .dropdown-menu { */
    /* transition-delay: 3s;  */
    /* Delay hiding */
  /* } */

  .logos{
    /* position: relative; */
    z-index: 1;
  }

  .logo-container{
    /* animation-name: classwork; */
    /* animation-duration: 5s; */
    /* animation-iteration-count: infinite; */
    position: absolute;
    animation: logos 50s linear infinite;
    overflow: hidden;
  }
  .card{
    transition: transform 1s;
    position: relative;
    overflow: hidden;
  }

  .card:hover{
    transform: translateY(-20px);
  }


  @keyframes logos {
    0% {
      left: 100%;
    }

    100% {
      left: -150%;
    }
  }
.arrow-container{
  /* display:none; */
}
.arrow{
  transform: rotate(-30deg);
}

 .card:hover .arrow-container{
  background-color: orangered;
  border-radius: 50%;
  /* padding: 30px; */
 }
 .card:hover .title{
  color: orangered;
 }
 .slant-container{
  /* background-color: palevioletred; */
 }
 .slant-text{
  position: absolute;
  transform: rotate(35deg);
  display: inline-block;
  right: -30px;
  top: 10px;
  font-size: 10px;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
 }

 @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee {
    animation: marquee 60s linear infinite;
  }

  .loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent dark overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it sits on top of everything */
  }
  
  .loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

  .status-message {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 1.2rem;
    color: #fff;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .status-message.visible {
    opacity: 1;
  }
  
  .status-message.hidden {
    opacity: 0;
  }
  
  .status-message.success {
    background-color: #28a745;
  }
  
  .status-message.error {
    background-color: #dc3545;
  }
  